body{
    background-color:#00eeff;
    color: black;
    display: flex;
    flex-direction: column;
   height: 100vh;
}

#container{
    width: auto;
    text-align: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;

}

.header{
    background-color: blue;
    height: 150px;
}

.menu{
    background-color: #ff0000;
    height: auto;
}

.main{
    height: auto;
    flex: 100%;
    display: flex;
    
}

.content{
    background-color: rgb(246, 255, 0);
    flex: 65%;
    display: flex;
    flex-direction: column;
    
}
.sidebar{
    background-color: rgb(62, 62, 62);
    flex: 35%;  
}
.footer{
    height: auto;
    background-color: #ff0000;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


p{
    background-color:#000000;
    color: rgb(0, 255, 13);
    margin: 10px;
    padding: 5px;
    width: 46%;

}


ul,li{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    width: 100%;
    display: flex;
}
li{
    width: auto;
}
a{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    display: block;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    border: solid 5px #000000;
}

li:hover a{
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: solid 5px #ffffff;
}
    
.header img{
    height: 150px;
   
}

.post{
    background-color: #000000;
    border: solid 1px #ff0000 ;
    display: flex;
    margin: 5px;
    padding: 5px;
    
}

.post img{
    height: 90%;
    flex: 30%;
    margin: 10px;
}

.text{
    background-color: #ffffff;
    color: #000;
    flex: 70%;
    margin: 10px;
    
}

.text h2{
    color: rgb(255, 0, 0);
}

.text p{
    
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    
}

.verh{
    display: flex;

}

.verh img{
    height: 150px;
    flex: 40%;
}

.verh .text2{
    flex: 30%;
}

.text2 h2{
    color: #000;
}
.text2 p{
 background-color: rgba(0, 0, 0, 0);
 color: #000;   
}
.footer p{
    background-color: rgba(0, 0, 0, 0);
    color: #000;   
}


